<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
</head>
<body>


<table>
  <tr>
    <th>ID</th>
    <th>Czy Przychód</th>
    <th>Opis</th>
    <th>Kwota</th>
    <th>Data</th>
    <th>Link do szczegółów</th>
    <th>Link do usuwania</th>
    <th>Link do modyfikacji</th>
  </tr>
  <tr th:each="transaction: ${transactions}">
    <td th:text="${transaction.getId()}"></td>
    <td th:text="${transaction.getTType()}"></td>
    <td th:text="${transaction.getDescription()}"></td>
    <td th:text="${transaction.getAmount()}"></td>
    <td th:text="${transaction.getDate()}"></td>
    <td><a th:href="@{'DisplayDetails/' + ${transaction.getId()}}">link</a></td>
    <td><a th:href="@{'Delete/' + ${transaction.getId()}}">link</a></td>
    <td><a th:href="@{'Modify/' + ${transaction.getId()}}">link</a></td>

  </tr>


  <a href="/">powrót do menu głównego</a>

</table>

</body>
</html>