<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
</head>
<body>
Hello Bitches

<form th:method="post" th:action="@{'/Update/' + ${transaction.getId()}}">

  <p>
    <label> Czy przychód?
      <select    name="ttype">
        <option value="false" th:selected="${transaction.getTTypeString()}">false</option>
        <option value="true" th:selected="${transaction.getTTypeString()}">true</option>
      </select>
    </label>
  </p>
  <p>
    <label> opis<textarea maxlength="50" placeholder="opis transakcji" name="description" th:text="${transaction.getDescription()}"></textarea></label>
  </p>
  <p>
  <label>kwota <input type="text" name="amount" th:value="${transaction.getAmount()}"/></label>
  </p>
  <p>
  <label>Data transakcji
    <input type="date" name="date" th:value="${transaction.getDate()}">
  </label>
  </p>
  <p>
  <button type="submit"> modyfikuj</button>
  </p>

</form>

<a href="/">powrót do menu głównego</a>
</body>
</html>